.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.nav-items ul {
  display: flex;
  list-style: none;
  margin-left: auto;
  gap: 24px;
  font-size: 24px;
}

.logo {
  width: 100px;
}

.res-card {
  height: 300px;
  width: 150px;
  background-color: darkgray;
}

.res-logo {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
